<div class="card ml-5 mr-5">
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        <div>
          <img src="https://www.w3schools.com/howto/img_avatar.png" class="profile-img" alt="Avatar">
        </div>
      </div>
      <div class="col-md-10 ">
        <ul class="list-unstyled">
          <li>
            <h2>John Deo</h2>
          </li>
          <li>Code Eat Sleep and Repeat</li>
          <li><i class="fa fa-map-marker"></i> Bangalore, India</li>
          <li><i class="fa fa-twitter"></i> <a href="www.twitter.com/johndoe">www.twitter.com/johndoe</a></li>
          <li><i class="fa fa-github"></i><a href="https://github.com/john">https://github.com/john</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
