<div class="card ml-5 mr-5 profile-card">
    <!-- <app-skeleton-loader Cwidth="270" Cheight="70"></app-skeleton-loader>
    <app-skeleton-loader Cwidth="" Cheight="200px" circle="true"></app-skeleton-loader> -->

  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        <app-skeleton-loader *ngIf="!loaded" Cwidth="200" Cheight="200" circle="true"></app-skeleton-loader>
        <div *ngIf="loaded">
          <img src="https://www.w3schools.com/howto/img_avatar.png" class="profile-img" alt="Avatar">
        </div>
      </div>
      <div class="col-md-10">
        <ul class="list-unstyled" *ngIf ="userDetails">
          <li>
            <app-skeleton-loader *ngIf="!loaded" Cwidth="300" Cheight="40"></app-skeleton-loader>
            <h2 class="userName" *ngIf="loaded">{{userDetails.userName}}</h2>
          </li>
          <app-skeleton-loader *ngIf="!loaded" Cwidth="300" Cheight="30"></app-skeleton-loader>
          <app-skeleton-loader *ngIf="!loaded" Cwidth="300" Cheight="30"></app-skeleton-loader>
          <app-skeleton-loader *ngIf="!loaded" Cwidth="300" Cheight="30"></app-skeleton-loader>

          <ng-container *ngIf="loaded">
            <li class="font-weight-bold">{{userDetails.bio}}</li>
            <li><i class="fa fa-map-marker"></i> {{userDetails.location}}</li>
            <li><i class="fa fa-twitter"></i> <a href="{{userDetails.twitter}}">{{userDetails.twitter}}</a></li>
            <li><i class="fa fa-github"></i><a href="{{userDetails.github}}">{{userDetails.twitter}}</a></li>
          </ng-container>

        </ul>
      </div>
    </div>
  </div>
</div>
