.repo-card {
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 75%);
    -webkit-box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 30%);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
    background: #e6e5e55e;
}
.card-height {
    height: 150px;
}
.pagination-cls {
    margin-left: auto;
    margin-right: auto;
}
.card:hover {
    box-shadow: 1px 8px 20px grey;
    -webkit-transition: box-shadow 0.6s ease-in;
}
.desc-style {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
